:root {
    --light-bg-color: snow;
    --dark-bg-color: black;

    --light-font-color: #2e4051;
    --dark-font-color: #ecf0f1;

    --light-mobile-menu-color : #ecf0f1;
    --light-mobile-menu-color : #333;
}