:is(section.what-word, section.who-iam) {
  p > strong {
    display: inline-block;
    padding: 1rem 0;
    line-height: 28px;
  }
  p {
    opacity: 0.75;
    line-height: 28px;
  }
  p.who-iam-desc {
    text-align: justify;
  }
}

section.what-word {
  @extend %float;
  @extend %inside-fifty-width;

  align-items: center;

  padding: 2rem 4rem;

  img {
    width: 90%;
  }
}

section.who-iam {
  @extend %float;
  @extend %inside-fifty-width;

  align-items: center;

  margin: 12rem 0 0;

  div.rect {
    position: relative;

    display: flex;
    justify-content: center;

    div.rect-bg {
      background-color: #f1f4f7;
      border-radius: 85px;
      width: 80.9%;
      height: 98%;

      position: absolute;
      z-index: -1;
    }

    .img-parent {
      display: flex;
      justify-content: center;
      img#author {
        width: 80%;
      }
    }
  }
}

.scattered-monochrome {
  position: relative;
  z-index: -2;

  div {
    padding: 10rem 15rem;
    background-color: #ffe749;

    opacity: 0.6;

    position: absolute;
    right: calc(50% - 16rem);
    z-index: -2;
    top: 75px;
    filter: blur(150px);
    transform: rotate(53.79deg);
  }
}
.fixed-wave-bg {
  position: relative;
  > div {
    top: -70px;
    position: absolute;
    z-index: -1;
    width: 100%;
    padding: 15rem 0;
    background: url(../../Image/img/blue-wave.png);
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}
