section.send-email {
  margin-top: 5rem;
  margin-bottom: 3rem;

  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  align-items: center;

  form {
    label {
      display: block;
      padding: 0.5rem 0;
    }
    input,
    textarea {
      background: #f1f4f7;
      border: 3px solid #ced9e3;
      box-sizing: border-box;
      border-radius: 25px;
      width: 100%;
      padding: 0.5rem;
    }
    button[type="submit"] {
      width: 100%;
      @extend %blue-button;
    }
  }

  > .left {
      @include displayFlex(column , initial , initial , 5rem);

      i.fa , i.fab {
        padding: 0.3rem 0.5rem;
      }
      p.title > * {
          margin-bottom: 1rem;
      }
  }
}
