@mixin displayFlex($dir : initial, $con : initial , $align : initial , $space : 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $con;
    align-items: $align;
    gap: $space;
}