.modal {
  pointer-events: none;
  position: fixed;
  top: 50%;
  right: 50%;
  transform-origin: center;
  transform: translate(50%, -50%) scaleX(0.9) scaleY(0.9);
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
  width: 70%;
}

.modal .modal-inner {
  padding: 1rem;
}

@media only screen and (max-width: 980px) {
  .modal {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .modal {
    width: 90%;
  }
}

.modal.active {
  pointer-events: auto;
  transform: translate(50%, -50%) scaleX(1) scaleY(1);
  opacity: 1;
}

.overlay {
  pointer-events: none;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgb(45 46 54 / 0.5);
  opacity: 0;
  backdrop-filter: blur(4px);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 9998;
}

.overlay.active {
  pointer-events: auto;
  opacity: 1;
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  cursor: pointer;
  overflow: hidden;
}

.close-modal-btn::before {
  content: "\00D7";
  transition: transform ease 250ms;
  display: inline-block;
}

.close-modal-btn:hover::before {
  transform: rotate(90deg);
}

.modal h1 {
  font-size: 1.6rem;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}
