section.share-website {
  margin: auto;
  opacity: 0;

  background-color: #44475a;
  width: 50vw;
  height: 50vh;
  padding: 1rem;
  transition: 0.5s opacity;

  * {
    padding: 0.5rem;
  }

  position: fixed;
  z-index: -100;
  inset: 0;

  text-align: center;

  h4 {
    text-align: right;
    margin-right: 5rem;
  }
  span > span,
  h4 {
    color: snow;
    display: block;
    margin-top: 0.5rem;
  }
  :is(i.fa, i.fab) {
    font-size: 4rem;
    cursor: pointer;
  }
  i.fa-telegram {
    color: #7ed6df;
  }
  i.fa-whatsapp {
    color: lime;
  }
  i.fa-clipboard {
    color: snow;
  }
  .float {
    @extend %float;
    padding: 0.5rem;
    i {
      margin-top: 0.5rem;
      margin-left: 5rem;
      color: red;
    }
  }
  .share-buttons {
    @include displayFlex(row, space-around, center, 1.5rem);
  }
  i {
    transition: 0.35s transform;
  }
  i:hover {
    transform: scale(1.5);
  }
}
